/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DEBUG */

.debug {
  background-color: brown;
  border: 1px dashed black;
  padding: 10px;
}

.debug.debug {
  background-color: crimson;
}

.debug.debug.debug {
  background-color: orangered;
}

.debug.debug.debug.debug {
  background-color: orange;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}
